<ion-header>
  <ion-navbar>
    <ion-title>
      login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <h2>Welcome   login</h2>

    <ion-item>
        <ion-label floating>用戶名username</ion-label>
        <ion-input #box1 (keyup)="0"  type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>密碼password</ion-label>
        <ion-input #box2 (keyup)="0"  type="password"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>驗證碼verifycode</ion-label>
        <ion-input #box3 (keyup)="0"  type="text"></ion-input>
    </ion-item>   
    <ion-item>
        <img id="verify1" class="decoded" src="{{startindexurl}}/home/index/verify" alt="{{startindexurl}}/home/index/verify" onClick="this.src=this.src+'?='+Math.random()">
        <p>↑看不清請點擊圖片刷新</p>
        <p>↑Please click graphics to refresh when not clear</p>
    </ion-item> 
        <div padding>
            <button ion-button full (click)="loginpost(box1.value,box2.value,box3.value)">登錄</button>
            
        </div>

        <input [(ngModel)]="user.headimg" placeholder="headimg">
        <img src="{{user.headimg}}">
        <p>box1.value->{{box1.value}}</p>
        <p>box2.value->{{box2.value}}</p>
        <p>user.username->{{user.username}}</p>
        <p>username1->{{username1}}</p>
        <p>abc->{{abc}}</p>
        <p>firstid->{{firstid}}</p>
        <p>storageisLogin->{{islogin}}</p>
        <p>logrow->{{logrow}}</p>

         <ion-list>ddb
          <ion-item *ngFor="let log of logs">
              data
              1>{{ log}}  <br />
              10>{{ log[0]}}--{{log['id']}}<br />
              11>{{ log[1]}}--{{log['log']}} <br />
              12>{{ log[2]}}--{{log['time']}} <br />
              1json>{{log[0] | json}} <br /> 
              1json>{{log[1] | json}} <br /> 
              1json>{{log[2] | json}} <br />  
              1json>{{log['id'] | json}} <br /> 
              1json>{{log['log'] | json}} <br /> 
              1json>{{log['time'] | json}} <br />               
        </ion-item>dde
          </ion-list>

          <ion-list>logs2b
            <ion-item *ngFor="let log2 of logs2  ">
                data
                2>{{ log2}}  <br />
                20>{{ log2[0]}} <br />
                21>{{ log2[1]}} <br />
                22>{{ log2[2]}}  <br />  
                20>{{ log2['id']}} <br />
                21>{{ log2['log']}} <br />
                22>{{ log2['time']}}  <br />         
          </ion-item>logs2e
          </ion-list>

          <ion-list>logs3b
                <ion-item *ngFor="let log3 of logs3"> 
                    data                   
                31json>{{ log3| json}} <br /> 
                31>{{ log3}} <br />
                3id>{{ log3.id}} <br />
                3log>{{ log3.log}} <br />
                3time>{{ log3.time}} <br />           
              </ion-item>logs3e
           </ion-list>  
           <ion-list>logs4b
                <ion-item *ngFor="let log4 of logs4"> 
                    data                   
                41>{{ log4}} <br /> 
                4id>{{ log4["id"]}}<br />
                4log>{{ log4["log"]}} <br />
                4time>{{ log4["time"]}} <br />   
                4idjson>{{ log4["id"]| json}}<br />
                4logjson>{{ log4["log"| json]}} <br />
                4timejson>{{ log4["time"| json]}} <br /> 
                4id[]>{{ log4[0]}}<br />
                4log[]>{{ log4[1]}} <br />
                4time[]>{{ log4[2]}} <br />         
              </ion-item>logs4e
           </ion-list>


        <button ion-item (click)="backaboutpage()">
            <ion-icon name="return-left" item-left></ion-icon>
            Return返回
        </button>
</ion-content>
